html, body{
    margin: 0;
    padding: 0;
    background: #fcfcfc;
    font-family: sans-serif;
}


body{
    min-height: 100%;
}

body > div{
    min-height: 100%;
}

body > div > div{
    position: relative;
    min-height: 100vh;
}

#content-wrap{
    padding-bottom: 45px;
}

.rightDesc{
    text-align: center;
    font-weight: 800;
    border-bottom: 1px solid black;
    width: 90%;
    padding: 10px;
    margin:auto;
    min-height:50px;
    font-size: 20px;
}