.login_container {
    width: 100%;
}

.content {
    width: 100%;
}

.login {
    width: 100%;
}

.signup {
    width: 100%;
}

.submitbutton {
    color: white !important;
    background-color: #599D71 !important;
}

.tab {
    color: white !important;
    background-color: #599D71 !important;
}
