.App{
  background:white;
}

.maincard{
  width: 100%;
  min-height: 250px;
  padding: 20px;
  background: rgb(255, 255, 255) 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  opacity: 1;
  position: relative;

}

.cardtitle{
  
  font-family: Roboto;
  letter-spacing: 0.3px;
  color: #000000;
  opacity: 1;
}

.cardorg{

  font-size: 16px;
  text-align: right;
  font-family: Roboto;
  letter-spacing: 0.15px;
  color: #000000;
  opacity: 1;
  text-align: right;
}

.cardlogosmall{

  opacity: 1;
  text-align: right;
}

#test {

  position: relative;
  
 
  border: 1px solid;
  border-radius: 50%;
  overflow: hidden;

  width: 70px;
  height: 70px;
  
}

#test img{
 
  width: 70px;
  height: 70px;
  
  
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.cardlogo{

  background: #ffffff 0% 0% no-repeat padding-box;
  opacity: 1;
}

.cardcode{

  text-align: right;
  font-size: 16px;
  font-family:Roboto;
  color: #000000;
  opacity: 1;
}

.cardline{
  
  width: 100%;
  border: 2px solid #707070;
  box-shadow: 0px 0px 4px 0px #bbbbbb;
  opacity: 1;
}

.carddata{
  padding: 5px;
  text-align: left;
  font-family: Roboto;
  color: #000000;
  opacity: 1;
}

.cardshare{
  position: absolute;
  width: 4.45%;  
  height: 23.22%;
  background: #ffffff 0% 0% no-repeat padding-box;
  opacity: 1;
  top: 72.86%;
  right: 0px;
}
