.mainbar {
  position: relative;
  /* height: 82px; */
  width: 100%;
  background-color: #260b2c;
  color: white;
}

.filtertext {
  position: relative;

  text-align: left;
  font-size: 24px;
  font-family: Roboto;
  letter-spacing: 0.42px;
  color: #ffffff;
  opacity: 1;
}

.beftext {
  position: relative;
  left: 12.62%;
  top: 20.15%;
  text-align: left;
  font-size: 24px;
  font-family: Roboto;
  letter-spacing: 0.42px;
  color: rgba(255, 255, 255, 0.871);
}

.searchbox {
  position: relative;
  width: 80%;
  margin: auto;
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

form {
  display: block;
  width: 100%;
}

form .rrs {
  width: 100%;
}

/* OPTIONAL - caret icon */
.caret-icon {
  position: absolute;
  right: 1rem;
  top: 1.25rem;
  fill: #333;
}

/* OPTIONAL - animate caret icon */
.rrs--options-visible .caret-icon {
  transform: rotate(180deg);
}

/* OPTIONAL - animate opening of the options panel */
.rrs__options {
  transition: all 0.2s cubic-bezier(0.19, 1, 0.22, 1);
  max-height: 0;
  opacity: 0;
}

/* OPTIONAL - animate opening of the options panel */
.rrs--options-visible .rrs__options {
  opacity: 1;
}

input[type="text"] {
  font: inherit;
  padding: 0.5rem 1rem;
}

.controlling-input {
  width: 100%;
  margin: 1rem 0 0 0;
}

/* MultiSelect checkbox icon */
.checkbox {
  display: inline-block;
  position: relative;
  vertical-align: middle;
  width: 20px;
  height: 20px;
  border: 1px solid #ccc;
  margin: 2px 10px 2px 0;
  border-radius: 50%;
}

.rrs__option.rrs__option--selected .checkbox {
  border: 1px solid #0273b5;
}

.checkbox-icon {
  fill: #fff;
  position: absolute;
  left: 4px;
  top: 4px;
}

.rrs__option.rrs__option--selected .checkbox-icon {
  fill: #0273b5;
}

@media screen and (max-width: 768px) {
  .no-scroll-y {
    overflow-y: hidden;
  }
}
